# Puerto principal donde escucha el servidor Gateway (Express, estáticos y WebSockets)
# Si no se especifica, por defecto es 8000
PORT=8000

# Puerto interno exclusivo para el subproceso de PHP CLI (proxy transparente para *.php)
# Si no se especifica, por defecto es 8999
PHP_PORT=8999
